*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar{
    display: none;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}

#page1{
    padding-top: 30vh;
    min-height: 100vh;
    width: 100%;
}

#part1{
    height: 70vh;
    width: 100%;
    line-height: 28vh;
}

#part1 h1{
    text-transform: uppercase;
    font-family: 'futura';
    font-size: 16.5vw;
    text-align: center;
    letter-spacing: -1vw;
}

#part2 {
    position: relative;
    height: 90vh;
    width: 100%;
    margin-bottom: 7% ;
}

#part2 > img{
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
}

#scrolll{
    position: absolute;
    top: 35%;
    left: 61.5%;
    transform: translate(-50%,-50%);
    height: 25vh;
    width: 25vh;
}

#buy{
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-play-state: running;
    animation-timing-function: linear;

}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }    
    to{
        transform: rotate(360deg);
    }
}

#buy h6{
    position: absolute;
    z-index: 99;
    font-size: 1.5vw;
    font-family: 'futura';

    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-play-state: running;
    animation-direction: reverse;
    animation-timing-function: linear;
}

#insi{
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    width: 100%;
    font-family: "gilroy";
    font-weight: 600;
}

#line{
    width: 100%;
    border: 1px solid black;

}

#page2{
    padding: 2vw;
    min-height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
}

.elem{
    position: relative;
    height: 100%;
    width: 32%;
    overflow: hidden;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.2;
}

.box{
    position: absolute;
    top: 55%;
    left: 18%;
    z-index: 99;
    transform: translate(-50%,-50%);
    height: 7vh;
    width: 20vw;
    border-top-right-radius: 2vw ;
    border-top-left-radius: 2vw ;
    border-bottom-right-radius: 2vw ;
    border-bottom-left-radius: 2vw ;
    background-color: rgb(140, 200, 152);
}

#page3{
    position: relative;
    padding: 2vw;
    min-height: 100vh;
    width: 100%;
}

#paart1{
    display: flex;
    height: 50vh;
    width: 100%;
}

#head{
    width: 68%;
    font-family: 'futura';
    font-size: 2.5vw;
    line-height: 8vh;
}

#containt p{
    font-family: 'Helvetica Light';
    font-weight: 500;
    line-height: 3vh;
}

#clickk{
    position: relative;
}

#clickk > h3{
    font-family: 'Poppins Thin';
    text-transform: uppercase;
    font-weight: 100;
    font-size: 0.8vw;
    letter-spacing: 0.4vh;
}

h3::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -40%;
    height: 0.1vh;
    width: 41%;
    background-color: rgb(0, 0, 0);
    transition: all ease 1s;
}

@keyframes nextline {
    0%{
        left: 0;
        width: 41%;
    }
    40%{
        left: 41%;
        width: 0%;
    }
    70%{
        left: 0;
        width: 0;
    }
    100%{
        left: 0;
        width: 41%;
    }
    
}

h3:hover::before{
    cursor: pointer;
    animation-name: nextline;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
}

h3:hover{
    cursor: pointer;
}

#paart2{
    padding: 3vw;
    padding-top: 7vw;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.el{
    padding: 2vh;
    height: 100vh;
    width: 45%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
}

.el img{
    height: 30vw;
    object-fit: cover;
}

#text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vw;
    font-family: 'Helvetica Light';
    text-transform: uppercase;
    font-size: 1.7vh;
    font-weight: 600;
}

#paart3{
    padding: 3vw;
    padding-top: 7vw;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ball{
    height: 15vw;
    width: 15vw;
    background-color: rgb(224, 208, 189);
    position: fixed;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    scale: 1;
}

#page4{
    min-height: 100vh;
    width: 100%;
    background-color: aqua;
}