*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

*::selection{
    color: whitesmoke;
    background-color: #000;
}

html, body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    padding: 0 2.7vh;
    padding-top: 28.5vh;
}

#page1 h1{
    font-family: 'futura';
    font-size: 16.2vw;
    text-transform: uppercase;
    line-height: 28.5vh;
    letter-spacing: -1.5vh;
}

#video-cont{
    position: relative;
    height: 100vh;
    width: 100%;
    margin-top: 1.5vw;
    background-color: grey;
}

#video-cont video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-cont #play{
    position: fixed;
    height: 5vw;
    width: 5vw;
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: 'futura';
    opacity: 0;
    scale: 0;
}